<div class="nav-content">
  <%= link_to("Wind_surf", stores_path, {class: "top-title"}) %>
  <% if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">
      メニュー
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item"><%= button_to "userページ", users_path, method: :get %></li>
        <li class="dropdown-item"><%= button_to "user編集ページ", edit_user_path(current_user.id), method: :get %></li>
        <li class="dropdown-item"><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  <% elsif admin_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">メニュー
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item"><%= button_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      </ul>
    </div>
  <% else %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">登録
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item"><%= button_to "ログイン", new_user_session_path, method: :get %></li>
        <li class="dropdown-item"><%= button_to "新規登録", new_user_registration_path, method: :get %></li>
      </ul>
    </div>
  <% end %>
</div>
