<%= link_to "商品登録",new_admins_store_path %>
<table>
  <tr>
    <th class="col-2">名前</th>
    <th class="col-2">画像</th>
    <th class="col-2">営業時間</th>
    <th class="col-2">料金</th>
    <th class="col-2">都道府県</th>
    <th class="col-2">編集</th>
  <tr>
<% @stores.each do |store| %>
    <tr>
      <td class="col-2"><%= store.name %></td>
      <td class="col-2"><%= image_tag store.image, :size => '150x150' %></td>
      <td class="col-2"><%= store.open %></td>
      <td class="col-2"><%= store.price %></td>
      <td class="col-2"><%= store.prefecture %></td>
      <td class="col-2"><%= link_to "編集", edit_admins_store_path(store) %></td>
    </tr>
<% end %>
